*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 11svh;
    width: 100svw;
    background-color: white;
    color: black;
    font-family: system-ui;
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    padding-left: 9.8%;
    position: fixed;
    z-index: 50;
}
.part1{
    height: 100svh;
}
.part3{
    height: 89svh;
    border: 1px solid rgba(0, 0, 0, 0.111);
    position: relative;
    .top{
        position: absolute;
        height: 61.8%;
        /* background-color: red; */
        width: 80%;
        top: 12.6%;
        left: 10%;
        position: relative;
        display: flex;
        .info{
            height: 80.5%;
            width: 48%;
            /* background-color: blueviolet; */
            font-family: sans-serif;
            padding-top: 0.3%;
            h1{
                font-size: 3.65rem;
                line-height: 4.5rem;
                margin-bottom: 5%;
            }
            p{
                font-size: 1.06rem;
                line-height: 1.5rem;
                margin-bottom: 3.6%;
            }
            button{
                height:16.4%;
                width: 35.5%;
                border: 2px solid black;
                border-radius: 10rem;
                font-size: 1rem;
            }
        }
        .card{
            position: absolute;
            height:87.5%;
            width: 24.8%;
            top: 0;
            right: 2.6%;
            border-radius: 1.5rem;
        }
        .card1{
            background-color: #2563eb;
            transform: rotateZ(15deg);
            z-index: 5;
            top: 2.5rem;
            right: 0;
        }
        .card2{
            background-color: #facc15;
            transform: rotateZ(7deg);
            top: 1.2rem;
            right: 1rem;
            z-index: 6;
        }
        .card3{
            background-color: #34d399;
            z-index: 7;
            font-family: sans-serif;
            padding: 2.7% 2.6%;
            h3{
                font-size: 1.9rem;
                margin-bottom: 8%;
            }
            p{
                font-size: 0.94rem;
                line-height: 1.25rem;
            }
        }
    }
}

button:hover{
    background-color: black;
    color: white;
}
