.container{
    background-color: greenyellow;
    min-height: 100svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
}
.box{
    border: 2px solid yellow;
    height: 150px;
    width: 200px;
    /* display: inline-block; */
    flex-shrink: 0;
}